
header {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--clr-background-2);
  width: 994px;
  height: 100px;
  margin-top: 50px;
}

.header-input {
  position: absolute;
  border-radius: var(--radius-2);
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 0 20px 0 20px;
  background-color: var(--text-light-1);
  left: 100px;
}
