main {
  margin: 0 0 0 0;
  height: 618px;
}

table {
  width: 1200px;
  color: var(--text-light-1);
  column-gap: 10px;
}

th {
  text-align: center;
  width: 142px;
  height: 75px;
  background-color: black;
}

td {
  text-align: center;
  height: 75px;
  max-width: 142px;
  background-color: var(--clr-background-2);
}

td img {
  width: 40%;
  filter: invert(1);
}