:root {

}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 75px;
  background-color: green;
}